@page "/IncentivoTecnico/Edit/{IncentivoId:int}"
@inject IncentivosTecnicoService incentivostecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Modificar Incentivos de Técnicos</PageTitle>

<EditForm Model="tecnico" OnValidSubmit="Guardar" formname="editarIncentivoTecnicoForm">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header bg-primary text-white text-center py-2 rounded">
            <h3><i class="fas fa-clipboard-list"></i> Registro de Incentivos de Técnicos</h3>
        </div>
        <div class="card-body">
            <!-- IncentivoId -->
            <div class="form-group">
                <label for="IncentivoId">IncentivoId</label>
                <InputNumber id="IncentivoId" class="form-control" @bind-Value="tecnico.IncentivoId" />
                <ValidationMessage For="@(() => tecnico.IncentivoId)" />
            </div>

            <!-- Fecha -->
            <div class="form-group">
                <label for="Fecha">Fecha</label>
                <InputDate id="Fecha" class="form-control" @bind-Value="tecnico.Fecha" />
                <ValidationMessage For="@(() => tecnico.Fecha)" />
            </div>

            <!-- TecnicoId -->
            <div class="form-group">
                <label for="TecnicoId">TécnicoId</label>
                <InputNumber id="TecnicoId" class="form-control" @bind-Value="tecnico.TecnicoId" />
                <ValidationMessage For="@(() => tecnico.TecnicoId)" />
            </div>

            <!-- Descripcion -->
            <div class="form-group">
                <label for="Descripcion">Descripción</label>
                <InputText id="Descripcion" class="form-control" @bind-Value="tecnico.Descripcion" @oninput="(ChangeEventArgs e) => { tecnico.Descripcion = e.Value.ToString(); mostrarMensajeError = false; }" />
                @if (mostrarMensajeError)
                {
                    <div class="text-danger">El campo no está lleno.</div>
                }
                <ValidationMessage For="@(() => tecnico.Descripcion)" />
            </div>

            <!-- CantidadServicios -->
            <div class="form-group">
                <label for="CantidadServicios">Cantidad de Servicios</label>
                <InputNumber id="CantidadServicios" class="form-control" @bind-Value="tecnico.CantidadServicios" />
                <ValidationMessage For="@(() => tecnico.CantidadServicios)" />
            </div>

            <!-- Monto -->
            <div class="form-group">
                <label for="Monto">Monto</label>
                <InputNumber id="Monto" class="form-control" @bind-Value="tecnico.Monto" />
                <ValidationMessage For="@(() => tecnico.Monto)" />
            </div>

            <!-- Guardar -->
            <div class="text-center">
                <button type="submit" class="btn btn-outline-success ml-2">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>

                <!-- Retroceder -->
                <NavLink href="/Incentivostecnicos/index" class="btn btn-outline-danger mx-2">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </NavLink>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int IncentivoId { get; set; }
    public IncentivosTecnicos tecnico { get; set; } = new IncentivosTecnicos();
    private bool mostrarMensajeError = false;
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (IncentivoId != 0)
        {
            await Buscar();
        }
    }

    public async Task Nuevo()
    {
        tecnico = new IncentivosTecnicos();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var tipoEncontrado = await incentivostecnicoService.Buscar(IncentivoId);

        if (tipoEncontrado != null)
        {
            tecnico = tipoEncontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task Guardar()
    {
        if (!await Validar())
        {
            return;
        }

        var guardado = await incentivostecnicoService.Guardar(tecnico);
        if (guardado)
        {
            Nuevo();
            navigationManager.NavigateTo("/Incentivostecnicos/index");
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await incentivostecnicoService.Eliminar(tecnico.IncentivoId);
        Nuevo();
    }

    public async Task<bool> Validar()
    {
        var listaTipos = await incentivostecnicoService.Listar(t => t.Descripcion.ToLower() == tecnico.Descripcion.ToLower() && t.IncentivoId != tecnico.IncentivoId);
        Existe = listaTipos.Any();
        return !Existe;
    }
}